.quiz{
    z-index: -1;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 90%;
    color:#5B9A8B;
}
 
.ques{
    height: 70%;
    width: 65%;
    display: flex;
    padding: 30px 10px 20px 10px;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 5px 5px 5px #B9EDDD;
    text-align: center;
    font-size: medium;
    border-radius: 20px;
}

.ques p{
    font-size:medium;
}

.opt{
    padding: 20px 40px;
}

.quiz ul{
    display: grid;
    grid-template-columns: 1fr ;
    grid-gap: 1rem;
    list-style-type: none;
}

.quiz li{
    padding: 1rem;
    color: white; 
    background-color: #64CCC5;
    border-radius: 50px;
    cursor: pointer;
    margin-left: -40px;
}

.quiz li:hover{
    color: #159895; 
    background-color: #B9EDDD;
    transition: 0.3s ease-in-out;
}

.quiz button{
    height: 40px;
    width: 130px;
    font-size: medium;
    font-weight: 600;
    color: white; 
    background-color: #64CCC5;
    border-radius: 50px;
    border: none;
    margin: 115px 20px 20px -150px;
}

.quiz button:hover{
    color: #159895; 
    background-color: #B9EDDD;
    transition: 0.3s ease-in-out;
}
    

